extends layout.pug
block content
    nav(class="navbar navbar-expand-lg navbar-light bg-light")
        a(class="navbar-brand", href="./home") Flyin' With Brian
        button(class="navbar-toggler", type="button", data-toggle="collapse", data-target="#navbarSupportedContent", aria-controls="navbarSupportedContent", aria-expanded="false", aria-label="Toggle navigation")
            span(class="navbar-toggler-icon")
      
        div(class="collapse navbar-collapse", id="navbarSupportedContent")
            ul(class="navbar-nav mr-auto")
                li(class="nav-item active")
                    a(class="nav-link", href="#") About Brian
                li(class="nav-item active")
                    a(id="myProfile", class="nav-link invisible", href="./userProfile") My profile
                li(class="nav-item active")
                    a(class="nav-link invisible", id="btnLogout", href="./") Logout
    br/
    div(class="row")
        div(class="card col-md-3 offset-md-1")
            img(class="img-fluid", id="profilePic", src="./assets/images/brianInPlane.png")/
        div(class="card col-md-6 offset-md-1 text-center", id="aboutBrian")
            p Brian is a professional flight instructor who completed his commercial pilots license in the spring of 2018.  Additionally, he has a degree in Criminal Justice from The Ohio State University.
            ul
                li Available for flight instruction at Burke Lakefront Airport in Cleveland, Ohio.
                li Available for discovery flights at Burke Lakefront Airport in Cleveland, Ohio and Lost Nation Airport in Mentor, Ohio.
                li Brian also enjoys working out and tending bar.  He is a tremendous Ohio State Buckeyes fan as well as the Cleveland Browns.

    <br />