<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Flyin' With Brian</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="../assets/css/style.css">
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="./home.html">Flyin' With Brian</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="#">About Brian</a>
            </li>
            <li class="nav-item active">
                <a id="myProfile" class="nav-link invisible" href="./userProfile.html">My profile</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link invisible" id="btnLogout" href="#">Logout</span></a>
            </li>
        </div>
    </nav>
    <br />
        <div class="row">
            <div class="card col-md-3 offset-md-1">
                <img class="img-fluid" id="profilePic" src="./assets/images/brianInPlane.png">
            </div>
            <div class="card col-md-6 offset-md-1 text-center" id="aboutBrian">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae totam neque expedita nemo doloremque, repellat ipsam suscipit delectus soluta et officiis cupiditate quam eveniet hic vitae at accusamus? Officia, nulla. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deleniti, quod laboriosam sit nisi quas nemo placeat excepturi possimus aliquid corporis blanditiis, similique in porro consequatur, veritatis amet eum accusantium dolor! Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nihil, impedit optio quam molestias laboriosam fuga minus nesciunt dolorum sequi. Sed deleniti odit natus fuga magnam dignissimos rem illum quae voluptas! Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero, quam, quas ratione doloribus dolorem nobis cumque unde nesciunt provident vitae officia natus, labore vel eius. </p>
                <ul>
                    <li>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quae debitis beatae vel minima laborum cumque laboriosam numquam ipsa iusto, provident doloribus dignissimos dicta reprehenderit fugiat, reiciendis aliquid eaque asperiores quam.</li>
                    <li>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quae debitis beatae vel minima laborum cumque laboriosam numquam ipsa iusto, provident doloribus dignissimos dicta reprehenderit fugiat, reiciendis aliquid eaque asperiores quam.</li>
                    <li>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quae debitis beatae vel minima laborum cumque laboriosam numquam ipsa iusto, provident doloribus dignissimos dicta reprehenderit fugiat, reiciendis aliquid eaque asperiores quam.</li>
                </ul>
            </div>
        </div>
    <br />
    
    <script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous"></script>
    <script src="https://www.gstatic.com/firebasejs/5.4.2/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/5.4.2/firebase-auth.js"></script>
    <script src="https://www.gstatic.com/firebasejs/5.4.2/firebase-database.js"></script>
    <script src="../public/assets/js/app.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>