extends layout.pug
block content
  nav(class="navbar navbar-expand-lg navbar-light bg-light")
    a(class="navbar-brand", href="/home") Flyin' With Brian
    button(class="navbar-toggler", type="button", data-toggle="collapse", data-target="#navbarSupportedContent", aria-controls="navbarSupportedContent", aria-expanded="false", aria-label="Toggle navigation")
      span(class="navbar-toggler-icon")/
    
    div(class="collapse navbar-collapse", id="navbarSupportedContent")
      ul(class="navbar-nav mr-auto")
        li(class="nav-item active")
          a(class="nav-link", href="/about") About Brian
        li(class="nav-item active")
          a(id="myProfile", class="nav-link invisible", href="/userProfile") My profile
        li(class="nav-item active")
          a(class="nav-link invisible", id="btnLogout", href="./") Logout
  
  div(class="card col-md-8 offset-md-2 col-sm-10 offset-sm-1 text-center", id="headerCard")
    h1(class="display-4") Flyin' With Brian!
    p(class="lead") Welcome to the homepage for Brian DeFrank, a Certified Flight Instructor based out of Cleveland, Ohio.
    hr(class="my-2")/
    p Here my students can create a profile where I'll add each flight video along with any commentary to assist in their progress.
  br/
  form(class="col-md-6 offset-md-3 form", id="loginForm")
      div(class="form-group")
        label(for="exampleInputEmail1") E-mail address
        br/
        input(type="email", id="txtEmail", class="form-control", aria-describedby="emailHelp", placeholder="Enter email")/
        small(id="emailHelp", class="form-text text-muted") We'll never share your email with anyone else.
      div(class="form-group")
          label(for="exampleInputPassword1") Password
          input(type="password" id="txtPassword" class="form-control" placeholder="Password")/
          br/
          button(type="submit", id="btnLogin", class="btn btn-primary col-md-3 offset-md-2") Login
          button(type="submit", id="btnSignUp", class="btn btn-primary col-md-3 offset-md-2") Create Account
  div(id="homeCarousel", class="carousel slide", data-ride="carousel")
    div(class="carousel-inner")
      div(class="carousel-item active")
        img(class="d-block w-100", src="./assets/images/clevelandSkyline.png", alt="First slide")/
      div(class="carousel-item")
        img(class="d-block w-100", src="./assets/images/lakeSunset.png", alt="Second slide")/
      div(class="carousel-item")
        img(class="d-block w-100", src="./assets/images/threePlanes.png", alt="Third slide")/
      div(class="carousel-item")
        img(class="d-block w-100", src="./assets/images/winterLanding.png", alt="Third slide")/

  br/
