extends layout.pug
block content 
    nav(class="navbar navbar-expand-lg navbar-light bg-light")
        a(class="navbar-brand", href="/home") Flyin' With Brian
        button(class="navbar-toggler", type="button", data-toggle="collapse", data-target="#navbarSupportedContent", aria-controls="navbarSupportedContent", aria-expanded="false", aria-label="Toggle navigation")
            span(class="navbar-toggler-icon")/
    
        div(class="collapse navbar-collapse", id="navbarSupportedContent")
            ul(class="navbar-nav mr-auto")
                li(class="nav-item active")
                    a(class="nav-link", href="/about") About Brian
                li(class="nav-item active")
                    a(id="myProfile", class="nav-link invisible", href="/userProfile") My profile
                li(class="nav-item active")
                    a(class="nav-link invisible", id="btnLogout", href="./") Logout
    br/ 
    div(class="row")
        div(class="card col-md-3 offset-md-1 form")
            br/ 
            p Use the fields below to edit your profile and contact information. Use the "UPDATE" button to save your changes.
            div(class="row")
                form(class="col-md-10 offset-md-1")
                    label(for="") First name:
                    input(type="text" id="userFirst" class="form-control" placeholder="First")/
            div(class="row")
                form(class="col-md-10 offset-md-1")
                    label(for="") Last name:
                    input(type="text" id="userLast" class="form-control" placeholder="Last")/
            div(class="row")
                form(class="col-md-10 offset-md-1")
                    label(for="") Phone:
                    input(type="phone" id="phoneNumber" class="form-control" placeholder="(555)555-5555")/    
            div(class="row")
                button(type="submit" class="btn btn-primary col-md-8 offset-md-2" id="updateProfileButton") UPDATE
            br/
        div(class="card col-md-6 offset-md-1")
            br/
            h1 My Videos
            hr/
